<ion-header>
  <ion-toolbar>
    <ion-title>Cinéphoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>Films à l'affiche</h3>

  <swiper-container
    [loop]="false"
    [autoplay]="{ delay: 3000 }"
    [pagination]="{ clickable: true }"
    [navigation]="true"
    class="film-carousel"
  >
    <swiper-slide *ngFor="let film of listFilms">
      <ion-card>
        <img
          [src]="film.movieposter"
          alt="{{ film.title }}"
          style="width: 100%; height: auto"
        />
        <ion-card-header>
          <ion-button [routerLink]="['/tabs/films']" [fragment]="film.title">
            {{ film.title }}
          </ion-button>
        </ion-card-header>
      </ion-card>
    </swiper-slide>
  </swiper-container>

  <!-- <div class="container" id="carousel">
    <div
      id="carouselFilmsRecents"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          *ngFor="let film of listFilms; let i = index"
          type="button"
          data-bs-target="#carouselFilmsRecents"
          [attr.data-bs-slide-to]="i"
          [attr.aria-current]="i === 0 ? 'true' : 'false'"
          [attr.aria-label]="'Diapo ' + (i + 1)"
          [class]="i === 0 ? 'active' : 'inactive'"
        ></button>
      </div>
      <div class="carousel-inner">
        <div
          *ngFor="let film of listFilms; let i = index"
          [class]="i === 0 ? 'active' : 'inactive'"
          class="carousel-item"
        >
          <img
            class="d-block w-100px"
            [src]="film.movieposter"
            [alt]="film.title"
          />
          <a [routerLink]="['/films']" [fragment]="film.title">
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ film.title }}</h5>
            </div>
          </a>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselFilmsRecents"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselFilmsRecents"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div> -->
</ion-content>
