h1 {
  -webkit-text-stroke: 1px black;
}

h3 {
  text-align: center;
}

p {
  text-align: justify;
  padding: 10px;
  margin-bottom: 50px;
  color: #545163;
}

img {
  width: 100%;
}

#description-cinema {
  background-color: #d4cdc9;
  border-radius: 10px;
  padding: 0;
  width: 75%;
}

#carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.carousel-control-prev {
  transform: TranslateX(-100%);
}

.carousel-control-next {
  transform: TranslateX(+100%);
}

.carousel-indicators {
  transform: translateY(+200%);
}

.carousel-caption {
  background-color: #00000062;
  border-radius: 50px;
  transition: background-color 0.3s;
}

.carousel-caption:hover {
  background-color: #545163b0;
}

.carousel-caption h5 {
  font-size: 24px;
}
