<ion-content class="ion-padding">
  <h3>Films à l'affiche</h3>

  <swiper-container
    [loop]="false"
    [autoplay]="{ delay: 3000 }"
    [pagination]="{ clickable: true }"
    [navigation]="true"
    class="film-carousel"
  >
    <swiper-slide *ngFor="let film of listFilms">
      <ion-card>
        <img
          [src]="film.movieposter"
          alt="{{ film.title }}"
          style="width: 100%; height: auto"
        />
        <ion-card-header>
          <ion-button [routerLink]="['/tabs/films']" [fragment]="film.title">
            {{ film.title }}
          </ion-button>
        </ion-card-header>
      </ion-card>
    </swiper-slide>
  </swiper-container>
</ion-content>
