h1 {
  -webkit-text-stroke: 1px black;
}

h3 {
  text-align: center;
}

swiper-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-card-header {
  --background: #6d6576;
}

ion-button {
  text-align: center;
  font-size: 12px;
  --background: #d4cdc9;
  color: #545163;
  opacity: 75%;
  margin-bottom: 16px;
}

/* Couleur des bullets normales */
.film-carousel::part(bullet) {
  margin: 8px 4px;
  background-color: #545163; /* couleur inactive */
  opacity: 1;
}

/* Couleur du bullet actif */
.film-carousel::part(bullet-active) {
  margin: 8px;
  background-color: #d4cdc9; /* couleur active */
}

.film-carousel::part(button-prev) {
  color: #d4cdc9;
}

.film-carousel::part(button-next) {
  color: #d4cdc9;
}

.carousel-control-prev {
  transform: TranslateX(-100%);
}

.carousel-control-next {
  transform: TranslateX(+100%);
}

.carousel-indicators {
  transform: translateY(+200%);
}

.carousel-caption {
  background-color: #00000062;
  border-radius: 50px;
  transition: background-color 0.3s;
}

.carousel-caption:hover {
  background-color: #545163b0;
}

.carousel-caption h5 {
  font-size: 24px;
}
