<h1>Cinéphoria</h1>

<div class="container" id="description-cinema">
  <p>
    Cinéphoria est un joyau du cinéma français, une véritable icône du
    divertissement cinématographique. Fondée il y a plusieurs décennies par des
    passionnés de cinéma, l’entreprise a réussi à s’imposer comme un acteur
    majeur de l’industrie du divertissement en France. L’entreprise enregistre
    un chiffre d’affaires de 5 millions d’euros, témoignant de son succès, avec
    80 employées répartis dans 5 cinémas en France (Nantes, Bordeaux, Paris,
    Toulouse, Lille) et 2 en Belgique (Charleroi, Liège). Un audit a été
    effectué et a révélé que les clients préfèrent payer un peu plus cher, mais,
    aller dans un cinéma responsable : Cinéphoria reverse 20 % de son chiffre
    d’affaires annuel pour soutenir des initiatives écologiques. Ils souhaitent
    proposer à leurs clients une plateforme moderne et performante afin
    d’améliorer leurs expériences.
  </p>
</div>

<h3>Films récemment ajoutés</h3>

<div class="container" id="carousel">
  <div id="carouselFilmsRecents" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button
        *ngFor="let film of listFilms; let i = index"
        type="button"
        data-bs-target="#carouselFilmsRecents"
        [attr.data-bs-slide-to]="i"
        [attr.aria-current]="i === 0 ? 'true' : 'false'"
        [attr.aria-label]="'Diapo ' + (i + 1)"
        [class]="i === 0 ? 'active' : 'inactive'"
      ></button>
    </div>
    <div class="carousel-inner">
      <div
        *ngFor="let film of listFilms; let i = index"
        [class]="i === 0 ? 'active' : 'inactive'"
        class="carousel-item"
      >
        <img
          class="d-block w-100px"
          [src]="film.movieposter"
          [alt]="film.title"
        />
        <a [routerLink]="['/films']" [fragment]="film.title">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{ film.title }}</h5>
          </div>
        </a>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselFilmsRecents"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselFilmsRecents"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
