<ion-card *ngFor="let film of items" [id]="film.title">
  <img
    [src]="film.movieposter"
    class="img-fluid rounded-start"
    alt="{{ film.title }}"
  />

  <ion-card-header>
    <ion-card-title>{{ film.title }}</ion-card-title>
    <ion-card-subtitle>{{ film.type }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <p id="actors">
      {{ film.actors }}
    </p>
    <p id="description">
      {{ film.description }}
    </p>

    <p *ngIf="film.minage" id="minAge">
      <span style="text-decoration: underline">Age minimum</span> :
      {{ film.minage }} ans
    </p>

    <p
      *ngIf="film.favorite"
      style="color: #a57e8f; font-weight: bold; text-align: end"
      id="favorite"
    >
      Coup de coeur
    </p>

    <!-- Etoiles représentant la note du film -->

    <div *ngIf="film.opinion" class="rating">
      <div class="stars-outer">
        <img src="assets/emptyStar.png" alt="empty star" />
        <img src="assets/emptyStar.png" alt="empty star" />
        <img src="assets/emptyStar.png" alt="empty star" />
        <img src="assets/emptyStar.png" alt="empty star" />
        <img src="assets/emptyStar.png" alt="empty star" />
        <div
          class="stars-inner"
          [style.width.%]="calculateRating(film.opinion)"
        >
          <img src="assets/filledStar.png" alt="filled star" />
          <img src="assets/filledStar.png" alt="filled star" />
          <img src="assets/filledStar.png" alt="filled star" />
          <img src="assets/filledStar.png" alt="filled star" />
          <img src="assets/filledStar.png" alt="filled star" />
        </div>
      </div>
    </div>

    <div *ngIf="!film.opinion" class="new" style="text-align: end">
      <p>Nouveau</p>
    </div>

    <div class="d-flex justify-content-center">
      <button type="button" (click)="goToFilmSessions(film.id)" class="btn">
        Voir les séances disponibles
      </button>
    </div>
  </ion-card-content>
</ion-card>
