button {
  background-color: #a57e8f;
  color: #d4cdc9;
  margin-top: 8px;
}

button:hover {
  background-color: #a57e8f93;
}

.container {
  width: 100%;
  margin: 0 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #545163;
}

.card {
  background-color: #d4cdc9;
}

.card-body {
  color: #545163;
  height: auto;
  align-content: center;
  text-align: justify;
}

.card-text {
  font-size: x-small;
  text-align: justify;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stars-outer {
  display: inline-block;
  position: relative;
}

.stars-outer img {
  width: 40px;
  height: 40px;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}

.stars-inner img {
  width: 40px;
  height: 40px;
}

.new {
  color: #a57e8f;
  font-weight: bold;
  text-align: center;
  font-size: larger;
}

#actors {
  font-size: small;
}

#title {
  text-align: center;
}
