img {
  height: 50%;
}

ion-card {
  --background: #d4cdc9;
  --color: #545163;
  text-align: justify;
}

ion-card-title {
  --color: #545163;
  font-size: 18px;
  text-align: center;
}

ion-card-subtitle {
  --color: #545163;
  opacity: 50%;
  font-size: 10px;
}

ion-button {
  --background: #a57e8f;
  --color: #d4cdc9;
  margin-top: 8px;
  font-size: 0.8rem;
}

.centered {
  display: flex;
  justify-content: center;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stars-outer {
  display: inline-block;
  position: relative;
}

.stars-outer img {
  width: 30px;
  height: 30px;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}

.stars-inner img {
  width: 30px;
  height: 30px;
}

.new {
  color: #a57e8f;
  font-weight: bold;
  font-size: larger;
}

#actors {
  font-size: 8px;
  margin-bottom: 16px;
}

#description {
  font-size: 10px;
  margin-bottom: 16px;
}

#minAge {
  font-size: 10px;
}
