<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accueil" href="/tabs/accueil">
      <img src="assets/icon/home.png" class="tab-icon" alt="Accueil" />
      <img
        src="assets/icon/home-selected.png"
        class="tab-icon-active"
        alt="Accueil"
      />
      <!-- <ion-label>Accueil</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="compte" href="/tabs/compte">
      <img src="assets/icon/ticket.png" class="tab-icon" alt="Accueil" />
      <img
        src="assets/icon/ticket-selected.png"
        class="tab-icon-active"
        alt="Accueil"
      />
      <!-- <ion-label>Compte</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="reservation" href="/tabs/reservation">
      <img src="assets/icon/reservation.png" class="tab-icon" alt="Accueil" />
      <img
        src="assets/icon/reservation-selected.png"
        class="tab-icon-active"
        alt="Accueil"
      />
      <!-- <ion-label>Réservation</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="films" href="/tabs/films">
      <img src="assets/icon/cinema.png" class="tab-icon" alt="Accueil" />
      <img
        src="assets/icon/cinema-selected.png"
        class="tab-icon-active"
        alt="Accueil"
      />
      <!-- <ion-label>Films</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="connexion" href="/tabs/connexion">
      <img src="assets/icon/connection.png" class="tab-icon" alt="Accueil" />
      <img
        src="assets/icon/connection-selected.png"
        class="tab-icon-active"
        alt="Accueil"
      />
      <!-- <ion-label>Connexion</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
