<div *ngFor="let order of listOrders">
  <div class="container">
    <div class="card mb-3" style="width: 828px" id="film-card">
      <div class="row g-0">
        <div class="col-md-6">
          <img
            [src]="order.moviePoster"
            class="img-fluid rounded-start"
            alt="{{ order.title }}"
          />
        </div>
        <div class="card-body col-md-4 p-2">
          <h4 class="card-title mb-4" id="title">{{ order.title }}</h4>
          <h5 class="card-subtitle mb-4" id="actors">{{ order.actors }}</h5>
          <p class="card-text">
            {{ order.description }}
          </p>
        </div>
      </div>
    </div>

    <div class="order-details">
      <p style="margin-bottom: 5px">
        Réservation effectuée le {{ order.date }}<br />
        Pour la séance du
        {{ order.sessionDate }}<br />
        {{ order.cinemaName | cinemaName }}<br />
        dans la salle {{ order.roomName }} (qualité {{ order.quality }})<br />
        Début : {{ order.startHour }} - Fin : {{ order.endHour }}<br />
        Place(s) réservée(s) : {{ order.placesNumber }} <br />
        Total payé : {{ order.price }} &euro;
      </p>
      <div class="rating" *ngIf="order.viewed && !order.opinionSent">
        <div>
          <p class="m-0">Laisser un avis :</p>
        </div>
        <!-- Etoiles représentant la note du film -->
        <div id="stars-outer">
          <img
            src="assets/emptyStar.png"
            alt="empty star"
            id="star1"
            (mouseenter)="fillStars($event)"
            (mouseleave)="resetStars($event)"
            (click)="setRating($event, 1)"
          />
          <img
            src="assets/emptyStar.png"
            alt="empty star"
            id="star2"
            (mouseenter)="fillStars($event)"
            (mouseleave)="resetStars($event)"
            (click)="setRating($event, 2)"
          />
          <img
            src="assets/emptyStar.png"
            alt="empty star"
            id="star3"
            (mouseenter)="fillStars($event)"
            (mouseleave)="resetStars($event)"
            (click)="setRating($event, 3)"
          />
          <img
            src="assets/emptyStar.png"
            alt="empty star"
            id="star4"
            (mouseenter)="fillStars($event)"
            (mouseleave)="resetStars($event)"
            (click)="setRating($event, 4)"
          />
          <img
            src="assets/emptyStar.png"
            alt="empty star"
            id="star5"
            (mouseenter)="fillStars($event)"
            (mouseleave)="resetStars($event)"
            (click)="setRating($event, 5)"
          />
        </div>
      </div>

      <!-- Description de l'avis -->
      <div class="card" id="opinion" *ngIf="order.viewed && !order.opinionSent">
        <div class="row g-0">
          <div class="card-body col-md-4 p-2" id="opinion-card-body">
            <h5 class="card-title mb-2">Description de l'avis</h5>
            <textarea
              id="opinion-details"
              name="opinion-details"
              rows="3"
              cols="35"
              [(ngModel)]="opinionDescription"
            >
            </textarea>
            <button
              type="button"
              class="btn"
              (click)="submitOpinion(order.id, order.idUser, order.idFilm)"
            >
              Envoyer
            </button>
          </div>
        </div>
      </div>

      <!-- Avis écrit -->
      <div *ngIf="order.opinionSent" id="sent-opinion">
        <div id="rating-stars">
          <ng-container *ngFor="let _ of [].constructor(order.note)">
            <img src="assets/filledStar.png" alt="star" />
          </ng-container>
        </div>

        <div>
          <h6 class="mt-3 text-decoration-underline">Avis partagé :</h6>
          <p>{{ order.opinionDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
