<form [formGroup]="inscriptionForm" (submit)="inscription()">
  <div class="mb-3">
    <label for="firstname" class="form-label">Prénom</label>
    <br />
    <input
      formControlName="firstname"
      type="text"
      class="form-control-sm"
      id="firstname"
      aria-describedby="firstname"
      required
    />
  </div>

  <div class="mb-3">
    <label for="name" class="form-label">Nom</label>
    <br />
    <input
      formControlName="name"
      type="text"
      class="form-control-sm"
      id="name"
      required
    />
  </div>

  <div class="mb-3">
    <label for="username" class="form-label">Nom d'utilisateur</label>
    <br />
    <input
      formControlName="username"
      type="text"
      class="form-control-sm"
      id="username"
      required
    />
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Adresse mail</label>
    <br />
    <input
      formControlName="email"
      type="email"
      class="form-control-sm"
      id="email"
      required
    />
    <div
      *ngIf="
        inscriptionForm.get('email')?.invalid &&
        inscriptionForm.get('email')?.touched
      "
      class="erreur"
    >
      L'adresse mail doit contenir le caractère &#64;.
    </div>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Mot de passe</label>
    <br />
    <input
      formControlName="password"
      type="password"
      class="form-control-sm"
      id="password"
      required
    />
    <div
      *ngIf="
        inscriptionForm.get('password')?.invalid &&
        inscriptionForm.get('password')?.touched
      "
      class="erreur"
    >
      Le mot de passe doit avoir au moins 8 caractères.
    </div>
  </div>

  <button type="submit" class="btn">S'inscrire</button>
</form>
