.btn {
  background-color: #d4cdc9;
  color: #545163;
}

label {
  color: #d4cdc9;
}

h3 {
  text-align: center;
  margin-top: 30px;
}

p {
  margin-bottom: 0;
  font-size: 1rem;
}

#div-places {
  gap: 1em;
  padding: 0;
}

#places {
  background-color: #d4cdc9;
  color: #545163;
}

#window {
  min-height: 100vh;
}

ion-select {
  font-size: 1rem;
  --placeholder-color: #d4cdc9;
  --placeholder-opacity: 1;
}

ion-item,
ion-list {
  --background: transparent;
  background-color: transparent;
}

ion-item {
  color: #d4cdc9;
  --opacity: 1;
}

ion-select-popover.custom-popover {
  --background: aqua !important;
  background-color: aqua !important;
}

.places {
  text-align: center;
}
