<ion-content class="ion-padding">
  <h1>Réservation</h1>

  <!-- Menus déroulant et input nombre-->
  <ion-list [inset]="true" lines="none">
    <!-- Choix du cinéma -->
    <ion-item>
      <ion-select
        interface="popover"
        [interfaceOptions]="customPopoverOptions"
        aria-label="cinema"
        placeholder="Choisissez un cinéma"
        (ionChange)="selectCinema($event.detail.value)"
      >
        <ion-select-option *ngFor="let cinema of listCinemas" [value]="cinema">
          {{ cinema.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Choix du film -->
    <ion-item>
      <ion-select
        aria-label="film"
        placeholder="Choisissez un film"
        (ionChange)="selectFilm($event.detail.value)"
      >
        <ion-select-option *ngFor="let film of listFilms" [value]="film">
          {{ film.title }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Choix du nombre de places -->
    <ion-item>
      <p>Nombre de places :</p>
      <ion-item>
        <ion-button (click)="decrease()" color="custom-pink">-</ion-button>
        <ion-input
          class="places"
          type="number"
          min="1"
          max="114"
          placeholder="1"
          readonly
          [(ngModel)]="numberOfSeats"
        ></ion-input>
        <ion-button (click)="increase()" color="custom-pink">+</ion-button>
      </ion-item>
    </ion-item>
  </ion-list>

  <!-- Affichage des séances du cinéma choisi -->
  <div *ngIf="selectedCinema">
    <h3>Séances disponibles {{ selectedCinema.name | cinemaName }}</h3>
    <app-card-sessions [items]="listSessions"></app-card-sessions>
  </div>

  <!-- Affichage des séances du film choisi -->
  <div *ngIf="selectedFilm">
    <h3>Séances disponibles pour {{ selectedFilm.title }}</h3>
    <app-card-sessions [items]="listSessions"></app-card-sessions>
  </div>
</ion-content>
