form {
  background-color: #cbb5ac;
  border-radius: 10px;
  padding: 40px;
  margin: 0px auto 50px;
  color: #545163;
  width: 30%;
}

div {
  text-align: center;
  justify-content: center;
  align-items: center;
}

a {
  color: #545163;
  text-align: center;
}

input,
button {
  width: 75%;
  margin-bottom: 8px;
}

.erreur {
  font-size: small;
  color: #b55d5f;
}

button {
  margin-top: 16px;
  background-color: #6d6576;
  color: #d4cdc9;
}

button:hover {
  background-color: #545163;
  color: #d4cdc9;
}
