form {
  background-color: #cbb5ac;
  border-radius: 10px;
  padding: 40px;
  margin: 0px auto 50px;
  color: #545163;
  width: 85%;
}

a {
  color: #545163;
}

ion-input {
  --background: #d4cdc9;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  --border-radius: 5px;
  height: 3rem;
}

ion-button {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.pwd-forgotten {
  display: block;
  text-align: center;
}
