/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

html,
body {
  background-color: #545163;
  width: 100%;
}

h1 {
  color: #d4cdc9;
  font-weight: bold;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 25px;
}

h3 {
  color: #d4cdc9;
  margin-top: 55px;
}

p {
  font-size: 10px;
}

ion-tab-bar {
  --background: #6d6576; /* Change la couleur de fond des onglets */
  --color: #d4cdc9; /* Change la couleur du texte (label) des onglets */
}

ion-tab-button {
  --color-selected: #a57e8f; /* Couleur de l'icône pour l'onglet "accueil" lorsqu'il est actif */
}

ion-tab-button img {
  height: 30px;
  width: 30px;
  display: none;
}

ion-tab-button.tab-selected .tab-icon-active {
  display: block; /* Affiche l'icône active lorsque l'onglet est sélectionné */
}

ion-tab-button:not(.tab-selected) .tab-icon {
  display: block; /* Affiche l'icône inactive lorsque l'onglet n'est pas sélectionné */
}

ion-tab-button:hover .tab-icon-active {
  display: block;
}

ion-tab-button:hover .tab-icon {
  display: none; /* Cache l'icône inactive lorsqu'on survole l'onglet */
}

ion-header {
  --background: #6d6576;
}

ion-toolbar {
  --background: #6d6576;
}

ion-title {
  --color: #d4cdc9;
}

ion-content {
  --background: #545163;
}

.headline {
  font-size: 28px;
  font-weight: bold;
}

.custom-popover .popover-content {
  --background: aqua !important;
  background-color: aqua !important;
}
